# User-spezifische Konfigurationen
HELP.md

# Sonstige
*.log

# Binärdateien usw.
*.elc
*.pyc
*~
*.exe
*.gwt
*.svn
*prefs.local
*dot.hgeol
*log.*.gz

# Eclipse
.project
.classpath
RemoteSystemsTempFiles

# STS
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache

# IntelliJ
out/
.idea
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Ignore Gradle project-specific cache directory
.gradle
build/
.gradletasknamecache
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

